 
@font-face{
    font-family: Urbanist;
    src: url(../fonts/Urbanist-Regular.ttf);
    font-weight: 400;

}
@font-face{
    font-family: Urbanist;
    src: url(../fonts/Urbanist-Black.ttf);
    font-weight: 900;

}
@font-face{
    font-family: Urbanist;
    src: url(../fonts/Urbanist-Medium.ttf);
    font-weight: 500;

}
@font-face{
    font-family: Urbanist;
    src: url(../fonts/Urbanist-Black.ttf);
    font-weight: bold;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist';

}

:root {
    --secondary: #e3f2fd;
    --primary: #582EDE;
    --third: #7558d3;
    --text-primary: #222222;
    --text-secondary: #546e7a;
    --border-color: rgb(233, 233, 233);
    --background-color : #dcdedf;
}

.btn-link{
    background-color: #546e7a;
     color: white;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    height: 30px;
    font-size: x-small;
 }

/*  Navigation */
.nav {
    height: 70px;
    background-color: var(--secondary) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25px;
    padding-block: 10px;


    
    
}

 

.nav .brand {
    width: 30%;
    height: fit-content;
}

.nav .brand a {
    color: rgb(50, 50, 50);
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
}







.nav .nav-items {
    display: flex;
    width: 60%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
 
}

.nav ul {
    width: 60%;
    display: flex;
    justify-content:  flex-end;
    margin-right: 10px;
    gap: 15px;
 }




.nav-ul li {
    list-style: none;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
    font-size: 16px;
    color: var(--text-secondary);
}
.nav-ul li a{
    text-decoration: none;
    color: var(--text-secondary);
}

.nav-ul li:hover {

    color: var(--text-primary);
}

.nav-ul li:active {
    color: var(--text-primary);
    text-decoration: underline;

}

.nav .right-btn  {
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  
}
.nav button {
    width: 100px;
    height: 100%;
    text-align: center;
    text-transform: capitalize;
    background-size: 200% auto;
    box-shadow: 10 10 20px #eee;
    border-radius: 4px;
    font-size: 16px;
    background-color: black;
    font-weight: bold;
    color: white;
    border: none;
    transition: 0.1s ease-in;
    cursor: pointer;

}


.nav button:hover {
     background-color: orangered;


}


/**** Search Form *****/


.search-form {
    width: fit-content;
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 100%;
 }
.search-form {
    width: fit-content;
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.search-form form{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
     gap: 10px;
    background-color: white;
    height: fit-content;
    align-items: center;
    padding: 7px 15px;
    border-radius: 10px;
 }
.search-form form input{
    width: fit-content;
    display: flex;
    flex-direction: row;
 }
.search-form form input:focus{
   outline: 2px solid transparent;
   outline-offset: 2px;
 }
.search-form form input{
    width: full;
    border: none;
  }
.search-form form button{
    height: fit-content;
    width: fit-content;
    padding: 5px 8px;
    font-size: xx-small;
    font-weight: 400;
    border: none;
    background-color: #222222;
    color: white;
    border-radius: px;
 
   }


   @media only screen and (max-width: 780px) {
       .nav .searchform {
         display: none;
         visibility: collapse;
       }
   }

 

/******** searchpage ****************/

.search-page{
    width: 100%;
    min-height: 83vh;
    padding: 15px;
}

/**  Hero Section ---------------------------------**/


.home {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.home .searchform{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home .searchform .search-form form{
    width: 100%;
    background-color: var(--background-color);
    margin: 10px  15px;
 }
.home .searchform .search-form form input{
    width: 100%;
    background-color: var(--background-color);
    margin: 10px  15px;
 }
.home .searchform .search-form form button{
   border-radius: 4px;
   cursor: pointer;
 }



.home .hero {
    width: 60%;
    color: white;
    display: flex;
    margin: 20px 10px;
    padding: 10px 5px;
    background-color: var(--primary);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 250px;
    gap: 2;
    border-radius: 5px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 780px) {
    .home .hero {
        width: 90%;
    }
    
   
}

@media only screen and (min-width: 780px) {
    .home .searchform{
        display: none;
        visibility: hidden;
    }
    
   
}

.hero .left-section {
    width: 30%;
    height: 100%;
    display:  flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.hero .left-section .image-round {
    width: 150px;
     height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    display: block;
 

}

@media only screen and (max-width: 780px) {
  
    .hero .left-section .image-round {
        width: 100px;
         height: 100px;
        border-radius: 50%;
        border: 5px solid white;
        overflow: hidden;
        display: block;
     
    
    }

   
}

.hero .left-section img {
    width: 100%;
    height: 100%;
 }


.hero .right-section {
    width: 70%;
    height: 100%;
    padding: 0 5px;
     gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
  
}



@media only screen and (max-width: 780px) {
  
    .hero .right-section {

         padding: 0px 3px;
         gap: 7px;
       
    }

   
}

.hero .right-section h2 {
    text-transform: capitalize;
    font-weight: bold;
}
.hero .right-section hr {
     width: 100%;
}
.hero .right-section p {
     width: 100%;
     font-size: small;
}


.hero .right-section button {
    background-color: white;
    padding: 5px 8px;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: 0.3 ease-in-out;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.1);
}


.hero .right-section button:hover {
    transform: rotateX(20deg);
}


/*   Blog archive */

.blog-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 5px;
}

 

.blog-archive {
    width: 65%;
    display: flex;
    flex-direction: column;
    min-height: 83vh;
    margin-right: 5px;
    padding: 0px 60px;
    gap: 10px;
}

@media only screen and (max-width: 780px) {
    .blog-content {
         flex-direction: column;
         gap: 10px;
      }
    .blog-archive {
        height: 100%;
        width: 100%;
        padding: 0px;
     }


   
}

.blog-archive .header {
    width: 100%;
    gap: 11px;
  
}


.blog-archive .header hr 
{
     color: var(--primary);
     height: 2px;
     background-color: var(--primary);
     border-color: var(--primary);
     width: 30%;
   
}
 

/*   Card For Blog  */


.blog-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 210px;
    padding: 5px 20px;
    gap: 10px;
 

}


@media only screen and (max-width: 780px) {
  
    .blog-card {
        width: 100%;
        padding: 5px;
        gap: 0px;
     
    
    }

   
}

.blog-card:nth-child(odd) {
    border-top: 2px solid rgb(217, 217, 217);
    border-bottom: 2px solid rgb(217, 217, 217);

}




.blog-card .left-img-section {
    width: 40%;
    overflow: none;
    display: block;
    margin: 0 auto;
    border: 5px solid rgb(233, 233, 233);
    border-radius: 4px;

}

.blog-card .left-img-section {
    width: 30%;
    overflow: none;
    display: block;
    margin: 0 auto;
    border: 5px solid rgb(233, 233, 233);
    border-radius: 4px;

}

.blog-card .left-img-section img {
    width: 100%;
    height: auto;

}



.blog-card .right-content-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.blog-card .right-content-section h1{
    font-size: x-large;
    color: var(--text-primary);
    cursor: pointer;
}
.blog-card .right-content-section span p{
    font-size: smaller;
    color: gray;
    padding: 3px;
    font-weight: 500;
    cursor: pointer;
}
.blog-card .right-content-section span  p a{
     color: gray;
    padding: 3px;
  
    cursor: pointer;
}
.blog-card .right-content-section p {
    font-size: small;
    color: var(--text-secondary);
    margin: 5px 0px;
}

.blog-card .right-content-section h1:hover {
     color: var(--primary);
}

.blog-card .right-content-section .btn {
    width: 100%;
    text-align: end;
  }

.blog-card .right-content-section button {
    background-color: tomato;
    border: none;
    color: white;
    padding: 7px;
    width: fit-content;
    margin: 4px;
    border-radius: 3px;
    cursor: pointer;
  }


.blog-card .right-content-section button:hover {
    background-color: var(--primary);
    color: white;
    border-color: var(--primary);
}



/*             Sidebar        */


.sidebar {
    width: 20%;
    height: 100%;
}

@media only screen and (max-width: 780px) {
    .blog-content .sidebar {
        width: 100%;
      
     }
   
}
 

/* ----------------------------Footer ---------- */
footer{
    display: block;
    background-color: black;
    display: flex;
    color: white;
    font-size: small;
    justify-content: center;
    align-items: center;
    padding: 10px;
 }

 .footer p a{
     color: white;
 }



 /*  -----------------------------------Login-----        */


 .auth-page {
    width: 100%;
    min-height: 83vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 }

 .auth-page .errors{
    width: 100%;
    min-height: 100px;
   text-align: center;
  color: red;
  display: none;
    
 
 }
 .auth-page .errors p{
   text-decoration: underline;
    
 }
 .auth-page .errors ol{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
      
 }
 .auth-page .errors li{
     width: fit-content;
      
 }


 .login-form {
    min-width: 400px;
    min-height: 400px;
    background-color: #ffffff;
    color: black;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .login-form h1{
 
    color: var(--third);
    font-size: x-large;
    
 }
 .login-form .form-group{
    display: block;
    width: 300px;
    height: 30px;
    margin: 20px 0px;
   }

 .login-form .form-group  label{
     text-transform: capitalize;   
   }


 .login-form .form-group .error{
     text-transform: lowercase; 
     color: red;
     font-size: smaller;
     margin: 10px 3px;
   }


 .login-form .form-group input{
    display: block;
    width: 100%;
    height: 30px;
    padding: 15px;
    border: 2px solid gray;
     
   }
 .login-form .form-group input:focus{
         outline: 2px solid transparent;
        outline-offset: 2px;
      
   }
 
 .login-form   button{
       padding: 10px 25px;
       border: none;
       background-color: var(--primary);
       box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.1);
       border-radius: 5px;
       color: white;
       cursor: pointer;
       margin: 10px 0px;

      
   }
 
 .login-form .form-extra {
    display: block;
    min-width: 300px;
    min-height: 30px;
    margin-bottom: 20px;
    padding: 3px 5px;    

    }

 .login-form .form-extra span{
      width: 100%;
      margin-bottom: 10px;
 
  }
 .login-form .form-extra span p{
    width: 100%;
     font-size: small;
  }

 .login-form .form-extra span a{
     font-size: small;
  }
 

/**** Register -----------------**/


.login-form  .form-file-group{
     display: block;
     width: 300px;
     height: 30px;
     margin: 20px 0px;
     
   
}
.login-form  .form-file-group input{
     display: block;    
}
.login-form  .register-error{
     color: red;
     font-size: smaller;
     margin: 20px 5px;
     text-transform: lowercase;    
}
 
.login-form  .form-file-group input::file-selector-button{
      background-color: white;
      padding: 5px 10px;
      color: black;
      border-color: black;
      cursor: pointer;
      border-radius: 3px;
      margin: 5px 3px;

 }



 /* ------------------------------------ Single Post ------------------ */

.single-post{
     
    background-color: white;
    width: 100%;
    min-height: 83vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

 }




.single-post  .content-section{
      
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px;

 

 
 }

.single-post  .content-section article{
    padding: 20px 30px;

    background-color: white;
     display: flex;
     flex-direction: column;
 }
.single-post  .content-section article .article-header{
    width: 100%;
    
    display: flex;
     flex-direction: column;
     margin: 8px 0px;
}
.single-post  .content-section article .article-header .title{
    width: 100%;
    font-size: 42px;
    line-height: 50px;
    color: #222222;
    
}
.single-post  .content-section article .article-header .feature-Image{
    width: 100%;
    overflow: hidden;
    margin:10px 0px;
    padding:10px 2px;
  }

 .single-post  .content-section article .article-header .feature-Image img{
    width: 100%;
    border-radius: 10px;


    
}

@media only screen and (max-width: 780px) {
  
    .single-post  .content-section article .article-header{
         margin-bottom: 10px;
    }
    
  
    

   
}

.single-post  .content-section article .article-header .article-editorsInfo {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0px;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    color: #546e7a;
    
}
.single-post  .content-section article .article-header .article-editorsInfo strong{

    color: #546e7a;
    
}

.single-post  .content-section article .article-header .article-editorsInfo .author{
    width: fit-content;

    
}
.single-post  .content-section article .article-header .article-editorsInfo .author a{
   text-decoration: none;
   color: #546e7a;
     
}
.single-post  .content-section article .article-header .article-editorsInfo .date{
    width: fit-content;
 
    
}
.single-post  .content-section article .content p{
    
    margin: 6px 0px;
    font-size: medium;
    font-size: 19px;
    line-height: 35px;
    
 
   
}
.single-post  .content-section article .content {
    
    margin: 6px 0px;
    font-size: 17px;
    line-height: 26px;
    color: #222222;
    
 
   
}
.single-post  .content-section article .content h{
    
    margin: 6px 0px;
    font-size: medium;
   
}

@media only screen and (max-width: 780px) {
    .single-post{
     
      
        flex-direction:  column;
        padding: 0px;
    
     }

     .single-post  .content-section{
     
        width: 100%;
        margin: 0px;
        background-color: white;
        padding: 20px 30px;
     
     }


 
   
}






/*----------------------Comments -------------------*/

 

.comment-section {
    width: 100%;
    background-color: white;

  }
.comment-section .write-comments{
    width: 100%;
    padding: 20px 30px;

 }
.comment-section .write-comments h1{
    color: var(--text-secondary);
    font-size: large;
    margin: 5px 0px;

 }
.comment-section .write-comments form{
    width: 100%;
    color: var(--text-secondary);
    font-size: large;
    margin: 5px 0px;

 }
.comment-section .write-comments form span{
    width: 100%;
    color: var(--text-secondary);
    font-size: medium;
    margin: 5px 0px;

 }
.comment-section {
    width: 100%;
    color: var(--text-secondary);
    font-size: medium;
    margin: 5px 0px;    
 
 }
.comment-section  textarea{
    width: 100%;
    color: var(--text-secondary);
    font-size: medium;
    margin: 5px 0px;
    padding: 20px;
    border: none;
    background-color: #dcdedf;
    border-radius: 10px;
    box-shadow: 10px 10px 31px 10px rgba(0, 0, 0, 0.1);
    resize: none;
  
}
.comment-section  textarea:focus{
    outline: 2px solid transparent;
    outline-offset: 2px;
 
}
.comment-section  button {
    
    padding: 10px 25px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    border-radius: 4px;
 
}

.comment-section .display-comments {
    
    margin: 20px 0px;
    background-color: white;    
    padding: 20px 30px;
    background-color: white;

 
}
.comment-section .display-comments p{
    
   font-size: small;

 
}

.comment-section .display-comments button{
    
    padding: 5px 15px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
  
}
 
 
.comment-section .display-comments  .reply-msg{
    display: flex;
    min-width: 100px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 15px 20px;
    margin: 20px 30px;
    background-color: var(--background-color);

}


.show {
    display: block;

}

.hide {
    display: none;

}

/***** Add Blog / New Blog *************************/

 .add-blog{
    min-height: 81vh;
    background-color: white;
    width: full;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .add-blog .card{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 10px 10px 31px 10px rgba(0,0,0,0.1);
    padding: 30px;
    margin: 30px 0px;
 
 }
 .add-blog .card h1{
    
    margin: 10px 0px;
    color: #222222;
 
 }
 .add-blog .card h1{
    
    margin: 10px 0px;
 
 }

 .add-blog .card form{
    width: 100%;
    display: flex;
    flex-direction: column;   
 }

 .add-blog .card form{
    width: 100%;
    display: flex;
    flex-direction: column;   
 }
 .add-blog .card form p{
    display: block;
    width: 100%; 
    margin: 10px 0px;
 }
 
 

 .add-blog .card form label{
 
    color: var(--text-secondary);
 
  }


 .add-blog .card form input{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    line-height: 26px;
    color: #222222;
    margin: 10px 0px;
  }
 
 
 .add-blog .card form input[type=checkbox]{
    display: none;
    visibility: hidden;
  }
 .add-blog .card form input[type=checkbox]{
    display: none;
    visibility: hidden;
  }
  
 .add-blog .card form input[type=checkbox] + label{
    display: none;
    visibility: hidden;
  }
  
 
  


 .add-blog .card form input:focus{
    outline: 2px solid transparent;
    outline-offset: 2
  }


 .add-blog .card form button{
     padding: 15px 30px;
     border: none;
     background-color: var(--primary);
     color: white;
     border-radius: 4px;
     box-shadow: 10px 10px 31px 10px rgba(0,0,0,0.1);
     width: fit-content;
     text-align: center;
     margin: 0 auto;
     cursor: pointer;
}
 .add-blog .card form button:hover{
  
     background-color: var(--text-primary);
 
}

@media only screen and (max-width: 780px) {
    .add-blog .card{
        width: 100%;
        padding: 30px;
        margin: 0px;
     
     }
   
}


form .error-list .errorlist{
     display: flex;
     flex-direction: column;
     width: fit-content;
     padding: 0px 50px;
     
 }
form .error-list .errorlist li{
     color: red;
     word-wrap: break-word;

 }


 /*  ******************************* Author Section ********** */


 .author-section {
    width: 100%;
    min-height: 83vh;
    

  }
 .author-section .container{
    width: 100%;

  }
 .author-section .container{
    width: 100%;
    display: flex;

  }
 .author-section .right-section{
    width: 100%;
    display: flex;
    flex: 1;

  }
 .author-section .right-section{
     display: flex;
     flex-direction: column;
     width: 60%;
     padding: 20px 30px;

  }
 .author-section .right-section .header{
     display: flex;
     width: 100%;
     gap: 10px;
     padding: 30px;
     justify-content: space-between;
 
 
  }



 .author-section .right-section .header h1{
      color:  black;
      margin: 5px 0px;
   
  }
 .author-section .right-section .header .Level{
       font-size: small;
        background-color: gray;
        width: fit-content;
        padding: 5px 8px;
        color: white;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 4px;
        cursor: pointer;
        margin: 10px 0px;
   
  }
 .author-section .right-section .header .level-2-author{
         background-color: orangered;
  
   
  }
 .author-section .right-section .header .level-3-author{
         background-color: red;
  
   
  }
 


  .author-section .right-section .header .follower-section{
     
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0px;
 
    
  }


 .author-section .right-section .header .follower-section span{
     
     background-color: #222222;
     color: white;
     margin-right: 5px;
     font-size: small;
     padding: 5px 10px;
     text-transform: capitalize;

 
    
  }
 .author-section .right-section .header .author-meta{
     
     color: var(--text-secondary);
     margin-right: 5px;
     font-size: small;
     text-transform: capitalize;
     padding: 3px 0px;
     width: 100%;
     display: block;
 

    
  }
 .author-section .right-section .header .author-meta strong{
    
    text-decoration: underline;

    
  }

 


 



 .author-section .right-section .header button{
      padding: 10px 30px;
      cursor: pointer;
      color: white;
      background-color: var(--primary);
      cursor: pointer;
      border: none;
      border-radius: 20px;
      height: 40px;

 
  }

  .author-section .right-section .bio-section{
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
    color: var(--text-secondary);
 }

 @media only screen and (max-width: 780px) {
    .author-section .container{
        width: 100%;
        display: flex;
        flex-direction: column;
    
      }

    .author-section .right-section .bio-section{
        display: none;
        visibility: hidden;
     }

     
     .author-section .right-section{
  
        width: 100%;
        padding: 0px;
        margin: 0px;
    
      }


     .author-section .left-section{
         width: 100%;
         display: none;
         visibility: hidden;
    
    
      }
  

   
}

.author-section .container .right-section .mobile-section .username{
    display: block;
    margin: 5px 0;
 
 }

@media only screen and (min-width: 780px) {
     
  
    .author-section .container .right-section .mobile-bio-section{
         display: none;
         visibility: hidden;
    
      }
    .author-section .container .right-section .mobile-bio-section{
         display: none;
         visibility: hidden;
    
      }

    .author-section .container .right-section .mobile-section{
         display: none;
         visibility: hidden;
    
      }



   
}

 


 .author-section .left-section{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;

  }
 .author-section .left-section{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px 30px;
    border-left: 1px solid var(--border-color);
    gap: 5px;
  }
 .author-section .left-section .image{
    
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 50%;
    border: 10px solid yellowgreen;
    overflow: hidden;


  }


 .author-section .left-section .image img{
    
     width: 100%;
     height: 100%;

  }
 .author-section .left-section .author-name{
     
    color: #222222;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    
  }

 .author-section .left-section .author-name{
     
    color: #222222;
    font-size: large;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 24px;
    
  }
 .author-section .left-section .Level{
     
   font-size: small;
   background-color: gray;
   width: fit-content;
   padding: 5px 8px;
   color: white;
   font-weight: 500;
   text-transform: capitalize;
   border-radius: 4px;
   cursor: pointer;
    
  }


 .author-section .left-section .follower-section{
     
    display: flex;
    justify-content: start;
    align-items: center;
 
    
  }


 .author-section .left-section .follower-section span{
     
     background-color: #222222;
     color: white;
     margin-right: 5px;
     font-size: medium;
     padding: 5px 10px;
     text-transform: capitalize;

 
    
  }
 .author-section .left-section .author-meta{
     
     color: var(--text-secondary);
     margin-right: 5px;
     font-size: medium;
    text-transform: capitalize;
    padding: 3px 0px;
     width: 100%;
     display: block;
 

    
  }
 .author-section .left-section .author-meta strong{
    
    text-decoration: underline;

    
  }
 .author-section .left-section .get-followers{
    
    width: 100%;
    margin-top: 40px;
 
    
  }
 .author-section .left-section .get-followers .fl-header{
    
     font-size: 16px;
     font-weight: 500;
     color: #546e7a;
 
    
  }
 .author-section .left-section .get-followers ul li{
    
     list-style: none;
     text-decoration: none;
     margin: 15px 0px;
     display: flex;
     justify-content: center;
     align-items: center;
    gap: 5px;
  
 
    
  }
 
 .author-section .left-section .get-followers ul li p{
     
    width: 90%;
     
  }
 .author-section .left-section .get-followers ul li p:hover{
     
     text-decoration: underline;
     
  }
 .author-section .left-section .get-followers ul li .right-image{
    
     width: 30px;
     height: 30px;
     border-radius: 50%;
     overflow: hidden;
     display: block;
    
 
    
  }
 .author-section .left-section .get-followers ul li .right-image img{
    
     width: 100%;
     height: 100%;
   

    
  }
 .author-section .left-section .get-followers ul li p a{
    
     width: 100%;
     height: 100%;
     text-decoration: none;
     color: #546e7a;
   

    
  }



  