<header>
    <nav class="nav" style="background-color:#e3f2fd">

        <div class="brand">
           <a href="/" >Blogging.com</a>
        </div>

        <span class="searchform">

            {% include "searchform.html" %}
        </span>


        <div class="nav-items ">

            <ul class="nav-ul">
                <li><a href="">Home</a></li>

                {% if request.user.is_authenticated %}
                <!-- Code for authenticated users -->
                <li><a href="{% url 'author.url' request.user.username %}">My Account</a></li>
            {% else %}
                <!-- Code for unauthenticated users -->
                <li><a href="{% url 'login' %}">MyAccount</a></li>
            {% endif %}
             </ul>

             <span class="right-btn">

                {% if  user.is_authenticated %}
                   
                <button onClick="logout_func()">Logout</button>

                {% else %}
                <button onClick="login_func()">Login</button>

                
                {% endif %}
                 

                
                 


             </span>

                  

           

        
            </div>

    </nav>
</header>